mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  box-shadow: 1px 0px 10px #00000079;
  position: fixed;
  top: 0;
  z-index: 2000;
  button {
    border: none;
    background-color: #ffffff;
    color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.logo {
  cursor: pointer;
}
.mat-toolbar.mat-primary {
  background: #ffffff;
  color: #f85555;
}
.icons-container {
  width: 100px;
  justify-content: space-around;
}
.cart-products {
  position: fixed;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.743);
  top: 56px;
  display: flex;
  justify-content: end;
  transition: right 0.5s ease-in-out;
  z-index: 100;
  .products-container-cart {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    background-color: #ffffff;
    right: 0;
  }
}

.cart-display {
  right: 0;
  transition: right 0.5s ease-in-out;
}
.product-cart__container {
  width: 100%;
  margin-top: 0px;
  border-bottom: 1px solid#888888;
  display: grid;
  padding: 10px;
  padding-right: 25px;
  font-size: 13px;
}
.product-cart__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.product-cart__titles span {
  color: #888888;
}
.product-cart__description i {
  color: #f73737;
  cursor: pointer;
}

.product-cart__description i:hover {
  scale: 1.05;
  color: #f73737;
}
.product-cart__quantity {
  width: 30px;
  padding: 4px;
  border: 1px solid#888888;
  text-align: center;
  margin-bottom: 10px;
}
.product-cart__price {
  justify-self: end;
}
.product-cart__price {
  font-weight: bold;
  font-size: 15px;
}
.product-cart__price span {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

@media screen and (min-width: 800px) {
  .icons-container {
    width: 200px;
    justify-content: space-around;
  }
}
.cart__container {
  right: -310px;
  transition: right 1000ms ease;
  position: fixed;
  top: 60px;
  width: 300px;
  height: 78vh;
  z-index: 100;
  background-color: #ffffff;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 10px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: 0.1fr 1.7fr 0.2fr;
  border-bottom-left-radius: 10px;
}
.cart__container--checked {
  right: 0;
  transition: right 1000ms ease;
  position: fixed;
  top: 60px;
  width: 300px;
  height: 78vh;
  z-index: 100;
  background-color: #ffffff;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 10px;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: 0.1fr 1.7fr 0.2fr;
  border-bottom-left-radius: 10px;
}
.cart__container h3 {
  height: 30px;
  margin-left: 10px;
}
.cart-products__container {
  overflow-y: scroll;
  margin-bottom: 10px;
}
.cart__total {
  align-self: flex-end;
  justify-self: flex-end;
  width: 100%;
}
.cart__total div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;
}
.cart__total button {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #f65454;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.cart__total button:hover {
  background-color: #f73737;
}
.total-price {
  font-size: 20px;
  font-weight: bold;
}
.products-container {
  padding: 10px;
}
