<mat-toolbar color="primary">
  <span class="logo" routerLink="/home">e-commerce</span>

  <div class="d-flex align-items-center icons-container">
    <button mat-icon-button class="nav-bar favorite-icon" [routerLink]="routes.profile"
      aria-label="icon-button with heart icon">
      <mat-icon class="material-symbols-outlined">
        account_circle
      </mat-icon>
    </button>
    <button mat-icon-button class="nav-bar favorite-icon" [routerLink]="routes.purchases"
      aria-label="icon-button with heart icon">
      <mat-icon class="material-symbols-outlined">
        all_inbox
      </mat-icon>
    </button>
    <div class="cart-icon">

      <button mat-icon-button class="nav-bar " (click)="openCloseCart()" aria-label="icon-button with share icon">
        <mat-icon class="material-symbols-outlined">
          shopping_cart
        </mat-icon>
      </button>
    </div>

  </div>

</mat-toolbar>
<section class="cart-products" [class.cart-display]="cart" (click)="listenEvent($event)">

  <div class="products-container-cart">
    <!--
    <article class="product-cart__container cart">
      <div class="product-cart__description cart">
        <div class="product-cart__titles cart">
          <span class="cart">{product.brand}</span>
          <p class="cart">{product.title}</p>
        </div>

        <mat-icon class="material-symbols-outlined">
delete
</mat-icon>
      </div>
      <p class="product-cart__quantity cart">
        {product.productsInCart.quantity}
      </p>
      <p class="product-cart__price cart">
        <span>Total</span> ${product.price * product.productsInCart.quantity}
      </p>
    </article> -->
  </div>

</section>