<section class="login" *ngIf="!localUser">
  <div class="login__container">
    <p class="login-welcome">
      Welcome! Enter yout email and password to continue
    </p>
    <div class="login__test-user">
      <h3>Test User</h3>
      <p>
        <i class="fa-solid fa-envelope"></i> danielabril01@gmail.com
      </p>
      <p>
        <i class="fa-solid fa-lock"></i> pass1234
      </p>
    </div>

    <form [formGroup]="formLogin">

      <mat-form-field class="login__option">
        <mat-label class="label">Email</mat-label>
        <input matInput formControlName="email" placeholder=" ">
      </mat-form-field>

      <mat-form-field class="login__option">
        <mat-label class="label">Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder=" ">
      </mat-form-field>

      <button (click)="login()" (click)="refresh()">LOGIN</button>
    </form>
  </div>
</section>

<section class="user-profile" *ngIf="localUser!==null">
  <article class="profile__container">
    <div class="profile-picture">
      <i class="fa-regular fa-user"></i>
    </div>
    <p>
      {{ localUser.firstName }} {{ localUser.lastName }}

    </p>

    <button (click)="handleLogout()">Log Out</button>
  </article>
</section>