.product-id {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 90px;
  color: rgb(126, 126, 126);
  .page-position {
    width: 85%;
    display: flex;
    align-items: baseline;
    gap: 40px;
  }
  .info-tobuy {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .info-tobuy span {
      color: rgb(83, 83, 83);
    }
    .id-info__price p {
      font-size: 25px;
      font-weight: bold;
      margin-left: 6px;
      margin-top: 6px;
    }
    .quantity__buttons {
      margin-top: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-id-cart {
    width: 100%;
    height: 50px;
    justify-self: center;
    margin: 40px 0px;
    background-color: #f85555;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
  }
  .btn-id-cart:hover {
    background-color: #f73737;
  }
  .btn-id-cart i {
    margin-left: 10px;
  }
}

.page-position li {
  color: #f73737;
}
.page-position li p {
  font-weight: bold;
  font-size: 17px;
}
.product-swiper__container {
  width: 90%;
  max-width: 400px;
  height: 300px;
  .img-product {
    width: 75%;
    height: 80%;
    object-fit: contain;
  }
}
::ng-deep swiper-slide {
  width: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
}

.product-id-info {
  width: 80%;
  max-width: 450px;
  justify-self: center;
  display: grid;
}
.product-id-info h3 {
  font-size: 25px;
  margin: 16px 0;
}

.quantity__buttons button {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 25px;
  background-color: #ffffff;
  color: var(--principal-color);
  font-weight: bold;
  cursor: pointer;
}
.quantity__buttons span {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 30px;
  padding: 3px;
  border: 1px solid rgb(209, 209, 209);
  font-size: 18px;
}

.product-id__description {
  margin-bottom: 20px;
}
.discover {
  width: 100%;
  margin-bottom: 50px;
}
.cards-discover__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
h4 {
  color: #f73737;
  margin: 30px 0;
  font-size: 19px;
  padding-left: 20px;
}
@media (min-width: 860px) {
  .product-id__description {
    grid-row: 2/3;
  }
}
