<section class="product-id">
  <ul class="page-position">
    <p>Home</p>
    <li>
      <p>{{product.title}}</p>
    </li>
  </ul>
  <swiper-container loop="true" pagination="true" centered-slides='true' class="product-swiper__container ">
    <swiper-slide *ngFor="let img of product.productImgs">
      <img [src]="img" alt="product img" class="img-product">
    </swiper-slide>
  </swiper-container>

  <article class="product-id-info">
    <h3 class="">{{product.title}}</h3>
    <div class="info-tobuy">
      <div class="id-info__price">
        <span>Price</span>
        <p>$ {{product.price}}</p>
      </div>
      <div class="id-info__quantity">
        <span>Quantity</span>
        <div class="quantity__buttons">
          <button (click)="handleMinor()">-</button>
          <span>{{quantity}}</span>
          <button (click)="handlePlus()">+</button>
        </div>
      </div>
    </div>
    <button class="btn-id-cart">
      Add to cart
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <p class="product-id__description">{{product.description}}</p>
  </article>
  <article class="discover">
    <h4>Discover similar items</h4>
    <div class="similar-container">

      <ng-container *ngFor="let similarProduct of allProducts"
        [class.no-display]="product.category!==similarProduct.category.name && product.title===similarProduct.title">
        <article class="product__container"
          *ngIf="product.category===similarProduct.category.name && product.title!==similarProduct.title">
          <figure class="product__img">
            <a [routerLink]="['../',similarProduct.id]" (click)="refresh()">
              <img [src]='similarProduct.productImgs[0]' [alt]='similarProduct.title' />
            </a>
          </figure>
          <div class="product-info">
            <h3>{{similarProduct.title}}</h3>
            <div class="info__price">
              <div>
                <span>Price</span>
                <p>$ {{similarProduct.price}}</p>
              </div>
              <button mat-icon-button class="price__cart" aria-label="Example icon-button with share icon">
                <mat-icon class="material-symbols-outlined">
                  +
                </mat-icon>
              </button>
            </div>
          </div>
        </article>

      </ng-container>
    </div>
  </article>
</section>